# Directories
.vs/
bin/
bin-int/

# Files
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sln

# Gnome Builder config file
.buildconfig

# meson files
meson.build
WalnutApp/meson.build

# Exclude
!vendor/bin
